; Copy this file to config.ini and edit.

; General settings:

[general]
; Set to '1' to send email for well-formed events of unrecognized type:
forward_all = 0

; Mail transport settings:

[smtp]
host = smtp.example.com
port = 25
; security options: empty | SSL | TLS
security =
; authentication options: empty | CRAM-MD5 | LOGIN | PLAIN | XOAUTH2
auth = LOGIN
user = user@example.com
passwd = secret
from_email = user@example.com
from_name = GitHook Gizmo

; Per-repository recipient mail addresses as comma separated list:

[repo_owner/repo_name]
notify = contact1@example.com,contact2@invalid.none

[repo_owner/other_repo_name]
notify = other_contact1@example.com,other_contact2@invalid.none

