; <?php die(); /* Safeguard against misconfigured web server.

; Copy this file to githook.ini (or better still: githook.ini.php) and edit.

; General settings:

[general]
; Log to this file instead of stderr:
logfile = "hook.log"
; Set to '1' to send email for well-formed events of unrecognized type:
forward_all = 0
; Set to the same value as the "Secret" field in GitHub webhook settings,
; or leave empty to disable the payload signature check:
secret =

; Mail transport settings:

[smtp]
host = "smtp.example.com"
port = 25
; security options: empty | SSL | TLS
security =
; authentication options: empty | CRAM-MD5 | LOGIN | PLAIN | XOAUTH2
auth = "LOGIN"
user = "user@example.com"
passwd = "secret"
from_email = "user@example.com"
from_name = "GitHook Gizmo"

; Per-repository recipient mail addresses as comma separated list:

[repo_owner/repo_name]
notify = "contact1@example.com,contact2@invalid.none"

[repo_owner/other_repo_name]
notify = "other_contact1@example.com,other_contact2@invalid.none"

; */ ?>
